.related-searches-section
  font-size: 13px
  padding-top: 16px
  padding-bottom: 12px
  margin: 0
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

.related-searches
  ul
    display: inline
    li
    a
      color: #999
      font-size: 11px
      overflow: hidden
      line-height: 1.38
      text-decoration: none
