<section class="container wrapper">
    <section class="related-searches-section">
      <p> Búsquedas relacionadas:&nbsp; </p>
        <ul class="related-searches"> <li> <a href="https://listado.mercadolibre.com.ar/iphone-ipad-table#D[R:iphone ipad,P:1,Q:5]"> iphone ipad table </a> <span class="separator">-</span> </li> <li> <a href="https://listado.mercadolibre.com.ar/iphone-ipad-tablet#D[R:iphone ipad,P:2,Q:5]"> iphone ipad tablet </a> <span class="separator">-</span> </li> <li> <a href="https://listado.mercadolibre.com.ar/iphone-ipad-usado#D[R:iphone ipad,P:3,Q:5]"> iphone ipad usado </a> <span class="separator">-</span> </li> <li> <a href="https://listado.mercadolibre.com.ar/tablet-iphone-ipad#D[R:iphone ipad,P:4,Q:5]"> tablet iphone ipad </a> <span class="separator">-</span> </li> <li> <a href="https://listado.mercadolibre.com.ar/cable-iphone-ipad#D[R:iphone ipad,P:5,Q:5]"> cable iphone ipad </a> </li> </ul> </section>
</section>

