<section class="container wrapper">
  <app-breadcrumb [categories]="categories" [lastElement]="lastElement"></app-breadcrumb>
  <section class="result-section">
      <ul>
        <li *ngFor="let i of resultsItems; let index = index"
            class="item-list"
            routerLink="/items/{{i.id}}"
            tabindex="{{index + 1}}">

            <div class="item-wrapper">
              <div class="item-image">
                <a>
                    <figure>
                        <img src="{{i.picture}}">
                    </figure>
                </a>

              </div>
              <div class="item-info">
                <div class="item-price">$ {{i.price.amount | thousandsPipe}}<span class="free-shipping" *ngIf="i.free_shipping"> <img title="Envío Gratis" src="./assets/images/icons/ic_shipping.png"> </span></div>
                <div class="item-title">{{i.title}} </div>
              </div>
              <div class="item-location">
                  <p>Capital Federal</p>
              </div>

            </div>

        </li>
      </ul>

  </section>

